* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

.relative {
    position: relative; 
}

.absolute {
    position: absolute;
}

.vector-removebg img{
    width: 100px;
    height: auto;
}

.vector2 img{
    position: relative;
    width: 100px;
    height: 50px;
    bottom: 80px;
    left: -1px;
    z-index: -1;
}


/* ---------------------------------------------------------------------------------------------- */
/* header section */

.header {
    position: sticky;
    top: 0px;
}

.header-left {
    padding-left: 6px;
}

.header-left li {
    display: inline-block;
    padding: 10px 15px 10px 0px;
   
    list-style: none;
}

img {
    height: 21px;
    width: 28px;
    padding-bottom: 1px;
}

.mail-img {
    border-radius: 20%;
    border: 1px solid #5f5959;
    background-color: #e2e7ea;
    font-size: 14px;
}

.mail-id {
    padding-left: 6px;
    font-weight: 600;
    font-size: 14px;
}

.contact {
    font-size: 14px;
    font-weight: 600;
}

.mail-img img {
    height: 26px;
    width: 22px;
    padding-bottom: 5px;
    margin-top: 1px;
}

ul {
    margin-bottom: 0px;
}

.header-left li a {
    font-size: 18px;
    font-weight: 500;
}

.header-left li a i,
.header-right li a i {
    color: #5f5959;
}

.header-left li a,
.header-right li a {
    color: #5f5959;

}

.header-left li a:hover {
    color: #f17424;
}
.header-right li a:hover {
    color: #5f5959;
}

svg {
    height: 40px;
    width: 21px;
}

.instagram {
    height: 17px !important;
    width: 20px !important;
}

.linkedin {
    height: 40px !important;
    width: 19px !important;
}

.feather {
    height: 40px !important;
    width: 20px !important;
}

svg:hover path.icon,
svg:hover polygon.icon {
    fill: #f17424;
}

.header-right {
    list-style: none;

    float: right;
    margin-top: 5px;
}

.header-right li {
    display: inline-block;
    padding: 10px 15px 10px 0px;
}

/* ----------------------------------------------------------------------------------------- */
/* end  completed*/



/* header main section */
/* ------------------------------------------------------------------------------------------------- */
.header-main {
    /* padding: 0% 10%; */
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: -4px 10px 5px #f1f0f0;
}

.header-main a{
    font-weight: 600;
}

.logo {
    width: 100%;
    height: 100%;
}

.header-main ul {
    gap: 1.5rem;
}

.header-main ul li a{
    font-size: 16px !important;
}

.header-main li a:hover{
    color: #f17424;
}
.nav-link.active{
    color: #f17424 !important;
}

.navbar-collapse {
    margin-top: 0px;
    padding-bottom: 15px;
}

/* -------------------------------------------------------------------------------------------------- */
/* header-main section end */



/* banner section */
/* ------------------------------------------------------------------------------------------------------- */

.banner-col-1 {
    padding-top: 20px;
}

.span-1 {
    font-size: 40px;
    padding-right: 5px;
    color: #19467E;
    font-weight: 600;
}

.span-2 {
    font-size: 40px;
    color: #f17424;
    font-weight: 600;
}

.lorem-p {
    padding: 15px 0px;
    font-size: 16px;
    font-weight:400;
    color: #666666 !important;
}

.button {
    padding: 5px 20px;
    background-color: #19467E;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.mask-group-1 {
    position: absolute;
    width: 8%;
    height: 70%;
    top: 30%;
    left: 0%;
}

.feedback_form_area label {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
}

.form-control {
    font-size: 11px !important;
}

/* end */

/* modal start */

.modal-div {
    position: fixed;
    top: 15%;
    right: 0;
    z-index: 100;
    min-height: 450px;
}

.modal-div-show {
    right: 0 !important;
}

.feedback_form_area {
    position: relative;
    bottom: 0px;
    width: 280px;
    display: none;
    overflow: hidden;
    background: #ffffff;
    padding: 5px 10px;
    box-shadow: 5px 5px 5px 5px #ccc;
    border-radius: 5px;
}

.feedback_form_area_inner {
    width: 100%;
    height: 325px !important;
    color: #fff;
    padding: 15px;
}

.closebtn {
    float: right;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 22px;
}

.btn {
    background-color: #19467E;
    color: #ffffff;
    margin: 2px auto;
    padding: 4px 20px;
    margin-top: 27px;
    font-size: 12px;
}

.btn:hover {
    color: #ffffff;
    background-color: #19467E;
    padding: 4px 20px;
    border: none;
}

.quick {
    position: absolute;
    left: -107px;
    background-color: #f17424;
    color: #fff;
    transform: rotate(-90deg);
    top: 40% ;
    border-radius: 5px 5px 0px 0px;
    height: 40px !important;
    width: 180px !important;
    font-size: 20px !important;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 0px 10px;
    z-index: -1;
}

.quick:hover {
    background-color: #f17424;
    color: #ffffff !important;
}

/* end */

/* placement section start */

.placement .span-1 {
    font-size: 40px;
    font-weight: 600;
}

.placement .span-2 {
    font-size: 40px;
    font-weight: 600;
}

.placement .para {
    text-transform: capitalize;
    padding-top: 20px;
    font-weight: 400;
    color: #333333;
}

.placement img {
    width: 104px;
    height: auto;
    /* background-color: #ffffff; */
}


.placement-3 {
    border: thin solid red;
}
  
.Vector-1 {
    rotate: -180deg;
    width: 10% !important;
    height: 232px !important;
    bottom: -183px;
    right: -48px;
    z-index: 5;
}

/* ---------------------------------------------------------------------------- */
/* placement section end */

/* courses section start */

.courses {
    /* width: fit-content; */
    margin: 80px 0px 0px 0px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f6fafb;
    overflow-x: visible;
}

.courses .span-1, .courses .span-2 {
    font-weight: 600 !important;
    font-size: 40px;
}

.courses .para {
    text-transform: capitalize;
    font-weight: 400;
    color: #333333;
}

.bg-img
{
    background-image: url(/Nschool_project/NS_PNG/Group\ 1000006176.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-mask-2{
    z-index: 1;
}

.mask-img-2 {
    right: -48px;
    width: 110px;
    height: 120px;
    bottom: 0px;
    z-index: 1;
}

.btns {
    background-color: #f6f7fb;
    border: 2px solid #73a6e5;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 20px;
    margin: 5px;
    font-size: 10px;
}

.btn-project {
    width: 80px;
    height: 20px;
}

.para-courses {
    font-weight: 400;
    color: #333333;
}

.background-circle {
    background-image: url(/Nschool_project/NS_PNG/Group\ 1000006003_cleanup.png);
    background-repeat: no-repeat;
    background-position: center;
}

.fullstack {
    width: 55px;
    height: 55px;
}

/* courses section end */

.offer {
    background-color: #19467e;
    padding-top: 80px;
}

.offer .span-1 {
    font-size: 40px;
    padding-right: 5px;
    color: #ffffff;
    font-weight: 600;
}

.offer .span-2 {
    font-size: 40px;
    padding-right: 5px;
    color: #f17424;
    font-weight: 600;
}

.offer .para {
    color: #ffffff;
    margin-top: 20px;
    
}

.offer-h2{
    color: #f17424;
    font-size: 55px;
    font-weight: 700;
    padding-top: 10px;
    text-align: center;
}

.offer-span{
    position: relative;
    color: #f17424;
    font-size: 50px;
    font-weight: 700;
    bottom: 85px;
    float: right;
}

.offer-p {
    color: #19467e;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

/* services sectiont start */

.services {
    padding: 80px 0px 20px 0px;
    margin: 0% 10%;
}

.service-col {
    padding: 0rem 1rem;
}

.why-s {
    color: #19467E;
    font-size: 40px;
    margin-bottom: 0px;
}

.nschool-s {
    color: #f17424;
    font-size: 40px;
}

.Untitled-s {
    width: 80%;
    height: 85%;
    margin: 0% 10%;
}

.para-s {
    width: 90%;
    padding-top: 15px;
}

.vector3 {
    width: 70%;
    height: auto;
    margin: auto; 
}

.vector3 img {
    width: 80px;
    height: auto;
    padding:10px 0px 0px 15px;
    margin: auto;
}

.vector4 img{
    position: relative;
    width: 65px;
    height: auto;
    bottom: 37px;
    left: 28px;
}

.h4-s {
    margin-bottom: 10px;
    font-weight: 700;
    color: #f17424;
}

.para1-s {
    font-size: 13px;
    margin-bottom: 0px;
    line-height: 22px;
    color: #666666;
    font-weight: 500;
}

.s-col-4 {
    padding: 0px;
}

.serv-col-4 {
    padding-left: 0px;
}

/* testimonial section start */

.testimonial-1-div {
    margin-top: 10%;
}

.testimonial-2-div {
    margin-top: 15%;
}

.bg-image {
    background-image: url(/Nschool_project/NS_PNG/Frame.png);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: right;
    height: 600px;
}

.testimonial-div .slider-container {
    min-height: 400px;
    transform: rotate(-180deg);
}

.testimonial-div .slider-container .slide1, .testimonial-div .slider-container .slide2, .testimonial-div .slider-container .slide3 {
    transform: rotate(-180deg);
}

.testimonial-div .slides-div {
    top: -255px;
    width: 90%;
    gap: 6%;
}

.color-btn {
    background-color: #fce4ca !important;
}

.slide1 i, .slide2 i, .slide3 i {
    font-size: 80px;
    padding-left: 15px;
}

.slide1 .para-t, .slide2 .para-t, .slide3 .para-t {
    padding-left: 30px;
}

.slide-img-div {
    margin: 0px 20px;
    padding: 20px 0px 0px 10px;
}

.slide1 img, .slide2 img, .slide3 img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.content {
    width: 100%;
    margin: auto;
}

.content h1 {
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 40px;
}

.content .span-1 {
    padding-bottom: 10px;
}

.content h1, .content p {
    padding: 0% 15%;
}

.content .para {
    font-size: 16px;
}

.btn-position {
    top: 415px;
    right: 90px;
}

.gap-div-btn {
    left: 40px !important;
}

.slide1, .slide3 {
    background-color: #19467e;
    border-radius: 20px;
    color: #ffffff;
}

.slide2 {
    background-color: #f17424;
    color: #ffffff;
    border-radius: 20px;
}


/* testimonial section end */

/* placement stories section start */


.stories .offer .slider-container {
    width: 96%;
    margin: auto !important;
}

/* placement stories section end */

/* faq start */

.faq{
    margin: 10% auto;
}

.faq img {
    object-fit: cover;
    width: 60%;
    margin-left: 20%;
}

/* faq end */

/* blog start */

.blog .offer{
    background-color: #f6fafb;
}

.blog .offer .para {
    color: #000000;
}

.blog img {
    width: 100%;
    height: auto;
}

.blog .offer .slider-container {
    min-height: 400px;
    /* width: 100%; */
    /* height: auto; */
}

.blog .offer {
    padding-bottom: 20px;
}

.blog .offer .slider-container li {
    width: 100%;
    height: 100%;
    margin: 20%;
    overflow: hidden;
}

/* blog end */

/* footer start */

.footer {
    padding: 5%;
}

.footer h3, .footer p, .footer ul li {
    color: #ffffff;
}

.footer h5 {
    color: #f17424;
}

.footer ul {
    padding-left: 0px;
    padding-top: 20px;
}

.footer ul li {
    list-style: none;
    padding-bottom: 10px;
}

/* footer start */

/* nextfooter start */

.nextfooter {
    padding: 20px 0px;
}

.nextfooter p {
    color: #ffffff;
}

.nextfooter .footer-div {
    width: 95%;
    margin: 0% 0% 0% 2%;
}

/* nextfooter start */


/* media query  */

/* --------------------------------------------------------------------------------------- */

@media only screen and (max-width:426px) {

    .placement .para, .courses .para, .offer .para {
        text-align: justify !important;
    }

    .vector4 img {
        left: 26px !important;
        /* width: 55px; */
    }

    .quick {
        left: -108px !important;
        top: 158px !important;
    }

    .vector2 img {
        left: 8px !important;
    }
    
    .placement .span-1, .placement .span-2, .courses .span-1, .courses .span-2, .offer .span-1, .offer .span-2 {
        font-size: 32px;
    }

    .placement, .courses .para, .offer .para {
        padding: 20px 34px 0px 44px !important;
    }

    .placement img {
        width: 100% !important;
        height: 80% !important;
    }

    .offer {
        padding-top: 45px !important;
    }

    .offer .para {
        padding: 0px 9px 0px 30px !important;
    }

    .para1-s {
        text-align: justify;
        margin-bottom: 10px !important;
        width: 90%;
    }

    .Untitled-s {
        margin: 20px auto !important;
        width: 96% !important;
    }

    .services {
        padding: 40px 0px 20px 0px;
    }

    .s-col-4 {
        padding: 0px;
    }
    
    .serv-col-4 {
        padding-left: 0px;
    }

    .col-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
        padding: 0px;
    }
    
    .vector4 img {
        left: 32px !important;
    }

    .vector2 img {
        left: 7px !important;
    }

    /* testimonial section start */

    .testimonial-div .slides-div {
        top: -230px !important;
        width: 177% !important;
        margin: 0% auto !important;
        left: 20% !important;
    }

    .slide-img-div h3{
        width: 80%;
    }

    .slide-img-div p{
        width: 80%;
        padding-bottom: 20px;
    }

    .content h1 {
        padding: 0px;
        width: 117%;
        margin-top: 5%;
        position: relative;
        left: -22% !important;
    }

    .content p {
        width: 124%;
        position: relative;
        left: -26% !important;
    }

    .testimonial-div .slider-container {
        min-height: 520px;
    }

    .slide1, .slide2, .slide3 {
        min-height: 520px;
        overflow: hidden;
    }

    .btn-position {
        top: 326px !important;
        right: 5px;
    }

    .slide-img-div h3, .slide-img-div p{
        text-align: center;
    }

    .slide-img-div img{
        margin-left: 82px;
        margin-bottom: 10px;
        text-align: center;
    }

    .bg-image {
        height: 1000px;
    }


    /* testimonial section end */

    /* .stories .offer .slider-container {
        margin-left: 30%;
    } */

    .stories .offer .slider-container {
        width: 96% !important;
        height: 300px;
        margin: auto !important;
    }
}

@media only screen and (max-width:376px) {
    .header-main {
        padding: 0px 35px 0px 26px !important;
        top: 0px;
    }

    .banner .span-1, .banner .span-2, .placement .span-1, .placement .span-2, .courses .span-1, .courses .span-2 {
        font-size: 26px !important;
    }

    .courses {
        padding: 0px;
    }

    .courses-1 h1 {
        width: 90%;
        margin: auto;
    }

    .lorem-p {
        font-size: 12px;
    }

    .button {
        font-size: 14px;
    }

    .quick {
        left: -111px !important;
        height: 30px !important;
        width: 188px !important;
    }

    .feedback_form_area {
        top: 65px !important;
    }

    .courses-h4 {
        margin-top: -3px !important;
    }

    .offer h3 {
        padding: 0px !important;
    }

    .s-row, .s1-row {
        display: flex;
        justify-content: space-between;
    }

    /* testimonial section start */

    .testimonial-div .slides-div {
        top: -136px;
    }

    .testimonial-div .slider-container {
        min-height: 630px !important;
    }

    .slide1, .slide2, .slide3 {
        min-height: 630px;
        overflow: hidden;
    }

    .slide-img-div h3, .slide-img-div p{
        text-align: center;
    }

    .slide-img-div img{
        margin-left: 50px;
        text-align: center;
    }

    .btn-position {
        top: 450px !important;
    }

    .slide-img-div img {
        margin-left: 68px;
        text-align: center;
    }

    .bg-image {
        height: 1270px !important;
    }

    .testimonial-2-div {
        margin-top: 27% !important;
    }

    .content h1 {
        font-size: 26px;
    }

    /* testimonial section end */
}

/* Mobile device (portrait and landscape) */

@media only screen and (max-width:769px) {
    /* css for mobile device */

    .header-left, .header-right {
        display: none;
    }

    .header-main {
        padding: 0px 35px 0px 26px;
        top: 0px;
    }

    /* banner start */

    .banner-col {
        padding: 0px 0px 10px 0px;
    }

    .lorem-p {
        padding: 0px 0px 10px 0px;
        font-weight: 600;
        /* width: 70%; */
    }

    .banner {
        padding: 0px 42px;
    }

    .mask-group-1 {
        width: 4%;
        height: 70%;
        top: 38%;
    }

    .lorem-para-col, .button-col {
        padding: 0px;
    }

    .img-fluid {
        margin-top: 60px;
    }

    .quick {
        left: -108px;
        color: #fff;
        top: 35%;
        height: 34px;
        width: 188px;
        font-size: 21px;
    }

    .courses {
        margin: 20px 0px 0px 0px;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .feedback_form_area {
        top: 87px;
        height: 294px !important;
    }

    .btn {
        margin: 2px auto;
        padding: 4px 20px;
        margin-top: 8px;
        font-size: 12px;
    }

    .feedback_form_area label {
        color: #000000;
        font-size: 12px;
        font-weight: 600;
    }

    .form-control {
        font-size: 10px !important;
    }
/* ------------------------------------------------------------------------------- */

.slider-container {
    width: 100%;
    height: 100px;
}

.slider-container>*>* {
    height: 100px !important;
}


/* ------------------------------------------------------------------------------------ */
    .placement {
        margin: 55px 0px 0px 0px !important;
        padding: 0px 48px;
    }

    .placement img {
        width: 30%;
        height: 34%;
    }

    .banner .span-1, .banner .span-2 {
        width: 70%;
    }

    .placement-1 {
        text-align: center;
    }

    .placement-3 {
        padding: 0px;
    }

    .offer h3 {
        padding: 0px 0px 0px 34px;
    }

    .courses-h4 {
        margin-top: -15px;
        margin-bottom: 5px;
    }

    .para-courses {
        font-size: 10px;
        font-weight: 400;
        color: #333333;
        text-align: justify;
        width: 75%;
        margin-bottom: 0px;
    }

    .bg-img {
        height: 240px;
        width: 330px;
    }

    .fullstack-div {
        min-height: 200px;
        line-height: 230px;
        padding-left: 32px;
    }

    .background-circle {
        line-height: 250px;
    }

    .fullstack {
        width: 50px;
        height: 50px;
    }

    .mb-3 {
        margin-bottom: .5rem !important;
    }

    .mt-5 {
        margin-top: 2rem !important;
    }
    .courses .btns {
        padding: 2px 8px;
        margin: 4px;
        font-size: 8px;
    }

    .offer .para {
        text-align: center;
        padding: 0px 10px 0px 10px;
    }

    .offer-h2 {
        font-size: 40px;
    }

    .justify-content-evenly {
        justify-content: space-around !important;
        margin: auto;
        /* width: 98%; */
    }

    .col-12-c {
        flex: 0 0 auto;
        width: 100%;
        padding: 0px 5px !important;
    }

    .col-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
        padding: 0px;
    }

    .placement .para {
        text-align: center;
    }

    .courses .para {
        padding: 10px 50px;
        text-align: center;
    }

    .bg-mask-2 {
        display: none;
    }

    .mask-img-2 {
        display: none;
    }

    /* services section start */

    #why-col {
        order: 1;
    }

    #ns-png-col {
        order: 2;
    }

    .vector4 img {
        left: 45px;
        width: 55px;
    }

    .vector2 img {
        left: 8px;
        width: 90px;
        bottom: 70px;
        height: 38px;
    }

    .vector3 img {
        width: 70px;
        height: auto;
        padding: 10px 0px 0px 15px;
        margin: auto;
    }

    .para-s {
        width: 100%;
        padding-top: 5px;
        text-align: justify;
        /* font-size: 12px; */
    }

    .Untitled-s {
        width: 60%;
        height: auto;
        margin: 0% 20%;
    }

    .serv-col-4 {
        padding-left: 0px;
        /* width: 60%; */
        margin-bottom: 20px;
    }

    .ser-gap {
        padding: 0px 0px 0px 00px;
        width: 60%;
    }

    .services {
        padding: 80px 0px 20px 0px;
        margin: 0% 5%;
    }

    .para1-s {
        text-align: justify;
    }

    /* testimonial section start */

    .bg-image {
        background-size: 100% 90%;
        background-position: center;
        height: 1000px;
    }

    .testimonial-2-div {
        width: 65%;
        margin: 14% auto;
    }

    #slider-o {
        order: 2;
    }

    #testimonial-o {
        order: 1;
    }

    .content h1, .content p {
        text-align: center;
        position: relative;
        left: -10%;
    }

    .testimonial-div .slides-div {
        top: -222px;
        width: 120%;
        left: 45%;
        gap: 6%;
    }

    .slide1, .slide2, .slide3 {
        height: 400px !important;
        overflow: hidden;
    }
    
    .btn-position {
        top: 220px;
        right: 5px;
    }
    

    /* testimonial section end */
/* --------------------------------------------------------------- */
    /* placement stories section start */

    .stories {
        width: 100%;
        min-height: 500px;
    }

    .stories .offer .slider-container {
        width: 60%;
        height: 300px;
        margin: auto !important;
    }


    /* placement stories section end */
/* ------------------------------------------------------------------------ */
    /* blog start */

    .blog .offer .slider-container {
        margin-left: 30% !important;
    }

    .blog .offer .slider-container li{
        width: 100%;
        height: 87%;
        margin: 0% 20% 0% 0%;
        overflow: hidden;
    }
    

    .blog .offer .slider-container li .card {
        width: 20rem !important;
        height: 20rem;
        border-radius: 10px;
    }

    .blog .offer .slider-container li .card iframe {
        width: 20rem !important;
        height: 20rem;
        border-radius: 10px;
    }


    /* blog end */

}

/* Tablet Devices (portrait and landscape) */

@media only screen and (min-width:769px) and (max-width:1025px) {
    /* css for tablet devices */
    .header {
        padding: 0px 50px 0px 63px;
    }

    .header-main {
        padding: 0px 48px 0px 43px;
    }

    .header-right li a .mail-id,
    .header-right li a .contact {
        display: inline-block;
    }

    .header-left,
    .header-right {
        padding-left: 0px !important;
    }

    .header-main ul {
        gap: 0px;
    }

    .header-main ul li a {
        font-size: 18px !important;
        padding-left: 40px !important;
    }

    /* banner start */

    .banner {
        padding: 0% 7%;
    }

    .lorem-p {
        padding: 15px 0px;
        font-weight: 500;
        color: #666666;
    }

    .img-fluid {
        margin-top: 20px;
        width: 100%;
        height: 250px;
    }

    .quick {
        left: -110px;
        color: #fff;
        top: 180px;
        height: 37px;
        width: 193px;
        font-size: 22px;
    }

    .feedback_form_area {
        top: 111px;
        height: 320px;
    }

    .feedback_form_area_inner {
        width: 242px !important;
        padding: 14px 10px;
    }
    
    .mb-1 {
        margin-bottom: 0rem !important;
    }

    .feedback_form_area_inner form label {
        font-size: 14px;
    }

    /* placement section */

    .placement {
        margin: 80px auto;
        padding: 0px 62px;
    }

    .placement-1 {
        text-align: center;
    }

    .carousel-div {
        padding: 0px;
    }

    .placement img {
        width: 146px;
        height: auto;
    }


    .banner .span-1, .banner .span-2, .placement .span-1, .placement .span-2, .courses .span-1, .courses .span-2 {
        font-size: 35px !important;
        line-height: normal;
    }

    .placement .para {
        padding: 15px 0px 0px 0px;
    }

    .courses .para {
        padding : 20px 65px 0px 65px;
    }

    .para1-s {
        text-align: justify;
    }

    .para-s {
        width: 100%;
        text-align: justify;
        padding-top: 15px;
    }

    .fullstack-div {
        min-height: 375px;
        line-height: 375px;
        padding-left: 50px;
    }

    .para-courses {
        font-size: 16px;
        font-weight: 400;
    }

    .courses .btns {
        font-size: 11px;
    }

    .courses-h4 {
        margin-top: 0px;
    }

    .bg-img {
        height: 330px;
        width: 456px;
        margin: auto;
    }

    .col-8 {
        padding: 0px;
    }

    .col-12 {
        padding: 0px;
    }

    .bg-mask-2, .mask-img-2  {
        display: none;
    }

    .justify-content-evenly {
        margin: auto;
        width: 100%;
    }

    .mask-group-1 {
        position: absolute;
        width: 4%;
        height: 54%;
        top: 44%;
        left: 0%;
    }

    .offer .offer-h2 {
        font-size: 40px;
    }
    
    .offer .para {
        padding: 0px 23px 0px 21px;
    }

    .vector4 img {
        left: 30px !important;
    }

    .vector2 {
        margin-top: -40px;
    }

    .offer-p {
        padding: 12px;
    }

    .vector2 img {
        left: 2px;
        top: -41px;
    }
    
    .service-col {
        padding: 1rem 1rem;
    }

    /* testimonial section start */

    .slides-div {
        top: -35px !important;
    }

    .btn-position {
        top: 467px;
        right: 90px;
    }

    /* testimonial section end */
}

/* Laptop Devices (portrait and landscape) */

@media only screen and (min-width:1025px) and (max-width:1441px) {
    /* css for laptop devices */
    .header {
        padding: 0px 95px 0px 103px;
    }

    .header-right li a .mail-id, .header-right li a .contact {
        display: inline-block;
        padding-right: 10px;
    }

    .header-right li {
        padding-right: 5px;
        float: left;
    }

    .header-right {
        padding-left: 0px;
    }

    /* header main */
    .header-main {
        padding: 0px 103px;
    }

    .header-main ul li a {
        font-size: 20px;
    }
    
    .header-main ul li {
        padding-left: 20px;
    }

    /* header main end */

    /* banner start */

    .banner {
        margin: 0px;
        padding: 0px 75px;
    }

    .banner .span-1, .banner .span-2 {
        font-size: 36px !important;
    }

    .lorem-p {
        font-size: 16px;
        font-weight: 600;
    }

    .img-fluid {
        margin-top: 20px;
    }

    .quick {
        left: -111px;
        color: #fff;
        top: 40%;
        height: 50px;
        width: 254px;
        font-size: 30px;
    }

    .feedback_form_area {
        bottom: -110px;
    }

    .feedback_form_area_inner {
        width: 300px !important;
    }

    .mask-group-1 {
        width: 5%;
        height: 65%;
        top: 30%;
        left: 0%;
    }

    /* banner end */

    /* placement section */

    .placement {
        margin: 80px auto;
        padding: 0px 55px;
    }

    .placement-3 {
        padding: 0px 75px 0px 70px;
    }

    .placement .span-1, .placement .span-2 {
        font-size: 40px !important;
    }

    .slider-container {
        width: 100%;
        margin: auto !important;
    }

    .swiffy-slider {
        --swiffy-slider-item-gap: 6rem;
        width: 90%;
        margin: auto;
    }

    .offer .offer-h2 {
        font-size: 40px;
    }

    .services .vector4 img {
        left: 36px !important;
    }

    .courses .span-1, .courses .span-2 {
        font-weight: 600 !important;
        font-size: 40px;
    }

    .courses .para {
        padding: 20px 113px;
        text-align: center;
        font-size: 16px;
    }

    .para-courses {
        font-size: 13px;
        width: 80%;
    }
    
    .courses .btns {
        padding: 5px 20px;
        margin: 0px;
        font-size: 10px;
    }

    .btn-project {
        padding: 5px 10px !important;
    }

    .placement .para {
        padding: 20px 48px;
        text-align: center;
        font-size: 16px;
    }

    .placement-1 {
        text-align: center !important;
    }

    .bg-img {
        height: 340px;
        width: 482px;
    }

    .bg-mask-2 {
        width: 110px;
        height: 120px;
        left: -45px;
        top: 105px;
    }

    .mask-img-2 {
        transform: rotateY(-180deg);
        right: -45px;
        bottom: 78px;
    }

    .fullstack-div {
        min-height: 300px;
        line-height: 300px;
        padding-left: 52px !important;    
    }


    .carousel-inner {
        position: relative;
        width: 90%;
        overflow: hidden;
        margin: auto;
    }

    .offer .para {
        text-align: center;
        padding: 20px 40px 0px;
        font-size: 16px;
    }

    .justify-content-evenly {
        justify-content: space-around !important;
        margin: auto;
        width: 94%;
    }

    .para-s {
        width: 88%;
        text-align: justify;
        font-size: 16px;
    }
    
    .para1-s {
        width: 100%;
        line-height: 24px;
        margin-left: 26px;
        font-size: 12px;
        padding-top: 10px;
        font-weight: 500;
    }

    .service-col {
        padding: 0rem 1rem;
    }

    .s-row {
        justify-content: space-between;
    }

    .h4-s {
        margin-left: 26px;
    }

    .h4-serv {
        padding: 0px 0px 10px 0px;
        margin: 0px;
    }

    .p-serv{
        margin: 0px;
    }

    .s-col-4 {
        padding: 0px 70px;
    }

    .s-v3 {
        position: relative;
        left: 14x;
    }

    .serv-col-4 {
        padding-left: 40px;
    }

     /* testimonial section start */

     .slides-div {
        top: -53px !important;
    }    

    /* testimonial section end */
}

/* Desktop Devices (portrait and landscape) */

@media only screen and (min-width:1440px) {
    /* css for desktop devices */

    /* header top */

    .header-right li a .mail-id,
    .header-right li a .contact {
        display: inline-block;
    }
    /* header top end */

    /* header main */

    .header-main ul li a {
        font-size: 20px !important;
    }

    .header-main ul li {
        padding-left: 20px;
    }

    /* header main end */

    /* banner */

    .banner-col-1 {
        padding-top: 30px;
    }

    .banner .span-1, .banner .span-2 {
        font-size: 40px !important;
    }
    
    .lorem-p {
        padding: 20px 0px;
        font-size: 20px;
        font-weight: 600;
        color: #333333;
    }

    .img-fluid {
        height: 330px;
    }

    .quick {
        left: -127px;
        color: #fff;
        top: 180px;
        height: 50px;
        width: 254px;
        font-size: 30px;
    }

    .feedback_form_area {
        left: -17px;
        top: 109px;
    }

    .feedback_form_area_inner {
        width: 317px !important;
    }
    /* banner end */

    /* placement section  */

    .placement .span-1, .placement .span-2 {
        font-size: 40px !important;
    }
    
    .placement .para, .courses .para, .offer .para, .para-s {
        font-size: 20px !important;
    }

    /* .slider-container>*>* {
        height: 65px;

    } */

    .offer p {
        font-size: 25px;
    }

    .bg-mask-2{
        left: 45px;
    }

    .mask-img-2 {
        bottom: 76px;
        right: 45px;
    }

    .Vector-1 {
        position: absolute;
        width: 7% !important;
        height: 40% !important;
        top: 750px;
        right: -70px;
        z-index: 5;
    } 

    .vector-removebg {
        left: 10px;
    }

    .s-v3 {
        position: relative;
        left: 1px;
    }

    .services .vector4 img {
        left: 27px !important;
    }

    .why-s, .nschool-s {
        font-size: 40px;
    }

    .h4-serv {
        font-size: 25px;
    }

    .para-s {
        font-size: 15px;
        text-align: justify;
    }

}
/* ------------------------------------------------------------------------------------------ */