* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
/* ---------------------------------------------------------------------------------------------- */
/* header section */

.header {
    /* border-bottom: thin solid #ccc; */
    padding: 0% 10%;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #ffffff;
}

.header-left {
    padding-left: 6px;
}

.header-left li {
    display: inline-block;
    padding: 10px 15px 10px 0px;
   
    list-style: none;
}

img {
    height: 21px;
    width: 28px;
    padding-bottom: 1px;
}

.mail-img {
    border-radius: 20%;
    border: 1px solid #5f5959;
    background-color: #e2e7ea;
    font-size: 14px;
}

.mail-id {
    padding-left: 6px;
    font-weight: 600;
    font-size: 14px;
}

.contact {
    font-size: 14px;
    font-weight: 600;
}

.mail-img img {
    height: 26px;
    width: 22px;
    padding-bottom: 5px;
    margin-top: 1px;
}

ul {
    margin-bottom: 0px;
}

.header-left li a {
    font-size: 18px;
    font-weight: 500;
}

.header-left li a i,
.header-right li a i {
    color: #5f5959;
}

.header-left li a,
.header-right li a {
    color: #5f5959;

}

.header-left li a:hover {
    color: #f17424;
}
.header-right li a:hover {
    color: #5f5959 !important;
}

svg {
    height: 40px;
    width: 21px;
}

.instagram {
    height: 17px !important;
    width: 20px !important;
}

.linkedin {
    height: 40px !important;
    width: 19px !important;
}

.feather {
    height: 40px !important;
    width: 20px !important;
}

svg:hover path.icon,
svg:hover polygon.icon {
    fill: #f17424;
}

.header-right {
    list-style: none;

    float: right;
    margin-top: 5px;
}

.header-right li {
    display: inline-block;
    padding: 10px 15px 10px 0px;
}

/* ----------------------------------------------------------------------------------------- */
/* end  completed*/



/* header main section */
/* ------------------------------------------------------------------------------------------------- */
.header-main {
    padding: 0% 10%;
    position: sticky;
    top: 60px;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: 5px 5px 1px #f1f0f0;
}

.header-main a{
    font-weight: 600;
}

.logo {
    width: 120px;
    height: 60px;
}

.header-main ul {
    gap: 1.5rem;
}

.header-main ul li a{
    font-size: 16px !important;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

a:hover {
    color: #f17424 !important;
}

.navbar-collapse {
    margin-top: 0px;
    padding-bottom: 15px;
}

/* -------------------------------------------------------------------------------------------------- */
/* header-main section end */



/* banner section */
/* ------------------------------------------------------------------------------------------------------- */

.banner {
    padding: 0% 11%;
}

.banner-col-1 {
    padding-top: 20px;
}

.span-1 {
    font-size: 35px;
    padding-right: 5px;
    color: #19467E;
    font-weight: 600;
}

.span-2 {
    font-size: 35px;
    color: #f17424;
    font-weight: 600;
}

.lorem-p {
    padding: 15px 0px;
    font-size: 16px;
    font-weight:400;
    color: #666666 !important;
}

.button {
    padding: 5px 20px;
    background-color: #19467E;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.mask-group-1 {
    position: absolute;
    width: 8%;
    height: 70%;
    top: 30%;
    left: 0%;
}

.feedback_form_area label {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
}

.form-control {
    font-size: 11px !important;
}

/* end */

/* modal start */

.modal-div {
    position: fixed;
    top: 15%;
    right: 0;
    z-index: 100;
    min-height: 450px;
}

.modal-div-show {
    right: 0 !important;
}

.feedback_form_area {
    position: relative;
    /* right: 10px;
    top: 105px !important; */
    bottom: 0px;
    width: 280px;
    display: none;
    overflow: hidden;
    background: #ffffff;
    padding: 5px 10px;
    box-shadow: 5px 5px 5px 5px #ccc;
    border-radius: 5px;
}

.feedback_form_area_inner {
    width: 200px !important;
    height: 325px !important;
    color: #fff;
    padding: 15px;
}

.closebtn {
    float: right;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 22px;
}

.btn {
    background-color: #19467E;
    color: #ffffff;
    margin: 2px auto;
    padding: 4px 20px;
    margin-top: 27px;
    font-size: 12px;
}

.btn:hover {
    color: #ffffff;
    background-color: #19467E;
    padding: 4px 20px;
    border: none;
}

.quick {
    position: absolute;
    left: -107px !important;
    background-color: #f17424;
    color: #fff;
    transform: rotate(-90deg);
    top: 40% !important;
    border-radius: 5px 5px 0px 0px;
    height: 40px !important;
    width: 180px !important;
    font-size: 20px !important;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 0px 10px;
    z-index: -1;
}

.quick:hover {
    background-color: #f17424;
    color: #ffffff !important;
}
/* ------------------------------------------------------------------------------------------------------- */
/* end */


/* placement section start */
/* ---------------------------------------------------------------------------------------- */

.placement {
    margin: 80px auto;
    padding: 0px 140px;
}

.placement .span-1 {
    font-size: 40px;
    font-weight: 600;
}

.placement .span-2 {
    font-size: 40px;
    font-weight: 600;
}

.placement .para {
    text-transform: capitalize;
    padding-top: 20px;
    font-size: 16px !important;
    font-weight: 400;
    color: #333333;
}

.placement img {
    width: 160px;
    height: auto;
    background-color: #ffffff;
}

/* --------------------------------------------------------- */

.placement-3 {
    border: thin solid red;
}
  
/* ---------------------------------------------------------------- */

.Vector-1 {
    rotate: -180deg;
    position: absolute;
    width: 10% !important;
    height: 49% !important;
    background: transparent !important;
    top: 750px;
    right: 0px !important;
    z-index: 5;
}

/* ---------------------------------------------------------------------------- */
/* placement section end */

/* courses section start */

.courses {
    /* width: fit-content; */
    margin: 80px 0px 0px 0px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f6fafb;
    overflow-x: visible;
}

.courses .span-1, .courses .span-2 {
    font-weight: 600 !important;
    font-size: 40px;
}

.courses .para {
    padding-top: 20px;
    padding : 20px 130px;
    text-transform: capitalize;
    padding-top: 20px;
    font-size: 16px !important;
    font-weight: 400;
    color: #333333;
}

.bg-img
{
    background-image: url(/Nschool_project/NS_PNG/Group\ 1000006176.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 320px !important;
    width: 450px !important;
}

.bg-mask-2{
    position: absolute;
    width: 110px;
    height: 120px;
    float: left;
    left: 48px;
    top: 1285px;
}

.mask-img-2 {
    position: absolute;
    float: right;
    width: 110px;
    height: 120px;
    right: 0px;
    top: 320%;
}

.courses-h4 {
    /* margin-top: 20px; */
}

.btns {
    background-color: #f6f7fb;
    border: 2px solid #73a6e5;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 20px;
    margin: 5px;
    font-size: 10px;
}

.btn-project {
    width: 80px;
    height: 20px;
}

.para-corses {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}

.fullstack-div {
    height: 350px;
    line-height: 300px;
}

.background-circle {
    background-image: url(/Nschool_project/NS_PNG/Group\ 1000006003_cleanup.png);
    background-repeat: no-repeat;
    background-position: center;
}

.fullstack {
    width: 55px;
    height: 55px;
}

/* courses section end */


.offer {
    background-color: #19467e;
    padding-top: 80px;
}

.offer .span-1 {
    font-size: 40px;
    padding-right: 5px;
    color: #ffffff;
    font-weight: 600;
}

.offer .span-2 {
    font-size: 40px;
    padding-right: 5px;
    color: #f17424;
    font-weight: 600;
}

.offer .para {
    color: #ffffff;
    margin-top: 20px;
    
}

.offer-h2{
    color: #f17424;
    font-size: 55px;
    font-weight: 700;
    padding-top: 10px;
    text-align: center;
}

.offer-span{
    position: relative;
    color: #f17424;
    font-size: 50px;
    font-weight: 700;
    bottom: 85px;
    float: right;
}

.offer-p {
    color: #19467e;
    font-size: 16px !important;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

/* services sectiont start */

.services {
    padding: 80px 0px 20px 0px;
    margin: 0% 10%;
}

.service-col {
    padding: 0rem 1rem;
}

.why-s {
    color: #19467E;
    margin-bottom: 0px;
}

.nschool-s {
    color: #f17424;
}

.Untitled-s {
    width: 80%;
    height: 85%;
    margin: 0% 10%;
}

.para-s {
    width: 90%;
    padding-top: 15px;
}

.vector3 {
    width: 70%;
    height: auto;
    margin: auto; 
}

.vector2 img{
    position: relative;
    width: 100px;
    height: 50px;
    bottom: 80px;
    left: 14px;
    z-index: -1;
}

.vector3 img {
    width: 80px;
    height: auto;
    padding:10px 0px 0px 15px;
    margin: auto;
}

.vector4 img{
    position: relative;
    width: 65px;
    height: auto;
    bottom: 37px;
    left: 28px;
}

.h4-s {
    margin-bottom: 10px;
    font-weight: 700;
    color: #f17424;
}

.para1-s {
    font-size: 13px;
    margin-bottom: 0px;
    line-height: 22px;
}

/* media query  */

/* --------------------------------------------------------------------------------------- */

/* Mobile device (portrait and landscape) */

@media only screen and (max-width:769px) {
    /* css for mobile device */

    .header-left, .header-right {
        display: none;
    }

    .header-main {
        padding: 0px 35px 0px 26px;
        top: 0px;
    }

    /* banner start */

    .banner-col {
        padding: 30px 0px 20px 0px;
    }

    .lorem-p {
        padding: 0px 0px 10px 0px;
        margin-left: 0px;
        font-size: 12px !important;
        font-weight: 600;
        color: #333333;
        width: 100% !important;
    }

    .banner {
        padding: 0px 42px;
    }

    .mask-group-1 {
        width: 4%;
        height: 70%;
        top: 38%;
    }

    .lorem-para-col, .button-col {
        padding: 0px;
    }

    .img-fluid {
        width: 100%;
        height: auto;
        margin-top: 60px;
    }

    .quick {
        left: -111px;
        color: #fff;
        top: 35%;
        height: 34px;
        width: 188px;
        font-size: 21px;
    }

    .courses {
        margin: 20px 0px 0px 0px;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .feedback_form_area {
        top: 75px !important;
        height: 294px !important;
    }

    .btn {
        margin: 2px auto;
        padding: 4px 20px;
        margin-top: 8px;
        font-size: 12px;
    }

    .feedback_form_area label {
        color: #000000;
        font-size: 12px;
        font-weight: 600;
    }

    .form-control {
        font-size: 10px !important;
    }

    .feedback_form_area_inner {
        width: 210px !important;
    }

     /* placement section */

    .placement {
        margin: 80px auto;
        padding: 0px 48px;
    }

    .banner .span-1, .banner .span-2, .placement .span-1, .placement .span-2, .courses .span-1, .courses .span-2, .offer .span-1, .offer .span-2 {
        font-size: 30px !important;
        line-height: normal;
    }

    .placement-1 {
        text-align: center !important;
    }

    .placement-3 {
        padding: 0px;
    }

    .courses h1{
        padding: 0px 0px 0px 50px;
    }

    .offer h3 {
        padding: 0px 0px 0px 34px;
    }

    .courses-h4 {
        margin-top: -15px;
        margin-bottom: 5px;
    }

    .para-corses {
        font-size: 10px;
        font-weight: 400;
        color: #333333;
        text-align: justify;
        width: 75%;
        margin-bottom: 0px;
    }

    .bg-img {
        height: 240px;
        width: 330px;
    }

    .fullstack-div {
        min-height: 200px;
        line-height: 346px;
        padding-left: 46px !important;
    }

    .fullstack {
        width: 50px;
        height: 50px;
    }

    .mb-3 {
        margin-bottom: .5rem !important;
    }

    .courses .btns {
        padding: 2px 8px;
        margin: 4px;
        font-size: 8px;
    }

    .offer .para {
        font-size: 12px;
        text-align: justify;
        padding: 0px 44px 0px 35px;
    }

    .offer-h2 {
        font-size: 40px;
    }

    .justify-content-evenly {
        justify-content: space-around !important;
        margin: auto;
        width: 65%;
    }

    .col-12-c {
        flex: 0 0 auto;
        width: 100%;
        padding: 0px 5px !important;
    }

    .col-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
        padding: 0px;
    }

    .text-center {
        text-align: left !important;
    }

    .placement .para {
        font-size: 12px !important;
        text-align: justify;
    }

    .courses .para {
        padding-top: 20px;
        padding: 10px 50px;
        text-align: justify;
        font-size: 12px;
    }

    .bg-mask-2 {
        display: none;
    }

    .mask-img-2 {
        display: none;
    }

    /* services section start */
    .vector4 img {
        left: 40px;
        width: 55px;
    }

    .vector2 img {
        left: 8px;
        width: 90px;
        bottom: 70px;
        height: 38px;
    }

    .vector3 img {
        width: 70px;
        height: auto;
        padding: 10px 0px 0px 15px;
        margin: auto;
    }

    .para-s {
        width: 100%;
        padding-top: 5px;
        text-align: justify;
        font-size: 12px;
    }

    .para1-s {
        font-size: 10px;
        text-align: justify;
    }

    .h4-s {
        font-size: 20px;
    }

    .service-col {
        padding: 0rem 1rem;
        margin-bottom: 20px;
    }

    .nschool-s, .why-s {
        font-size: 20px;
    }
}

/* Tablet Devices (portrait and landscape) */

@media only screen and (min-width:769px) and (max-width:1024px) {
    /* css for tablet devices */
    .header {
        padding: 0px 36px 0px 68px;
    }

    .header-main {
        padding: 0px 48px 0px 62px;
    }

    .header-right li a .mail-id,
    .header-right li a .contact {
        display: inline-block;
    }

    .header-left,
    .header-right {
        padding-left: 0px !important;
    }

    .header-main ul {
        gap: 0px;
    }

    /* banner start */

    .banner {
        padding: 0% 7%;
    }

    .lorem-p {
        padding: 15px 0px;
        font-weight: 500;
        color: #666666;
    }

    .img-fluid {
        margin-top: 20px;
        width: 100%;
        height: 250px;
    }

    .quick {
        left: -115px;
        color: #fff;
        top: 42%;
        height: 37px;
        width: 193px;
        font-size: 22px;
    }

    .feedback_form_area {
        top: 111px;
        height: 320px;
    }

    .feedback_form_area_inner {
        width: 242px !important;
        padding: 14px 10px;
    }
    
    .mb-1 {
        margin-bottom: 0rem !important;
    }

    .feedback_form_area_inner form label {
        font-size: 14px;
    }

    /* placement section */

    .placement {
        margin: 80px auto;
        padding: 0px 80px;
    }

    .banner .span-1, .banner .span-2, .placement .span-1, .placement .span-2, .courses .span-1, .courses .span-2 {
        font-size: 35px !important;
        line-height: normal;
    }

    .placement .para {
        text-align: justify;
        padding: 15px 0px 0px 0px;
    }

    .courses .para {
        padding : 20px 57px 0px 77px;
        text-align: justify;
    }

    .para1-s {
        text-align: justify;
    }

    .para-s {
        width: 100%;
        text-align: justify;
        padding-top: 15px;
    }

    .fullstack-div {
        min-height: 375px;
        line-height: 375px;
        padding-left: 61px !important;
    }

    .para-corses {
        font-size: 14px;
        font-weight: 400;
    }

    .courses .btns {
        font-size: 12px;
    }

    .courses-h4 {
        margin-top: 20px;
    }

    .bg-img {
        height: 385px !important;
        width: 552px !important;
        margin: auto;
    }

    .bg-mask-2 {
        left: 128px !important;
        top: 1228px !important;
    }

    .mask-img-2 {
        top: 451%;
    }

    .justify-content-evenly {
        margin: auto;
        width: 100%;
    }

    .mask-group-1 {
        position: absolute;
        width: 4%;
        height: 54%;
        top: 44%;
        left: 0%;
    }

    .offer .offer-h2 {
        font-size: 40px;
    }
    
    .offer .para {
        text-align: justify;
        padding: 0px 19px 0px 33px;
    }

    .vector4 img {
        left: 30px !important;
    }

    .vector2 {
        margin-top: -40px;
    }

    .vector2 img {
        left: 12px;
        top: -41px;
    }

    .service-col {
        padding: 1rem 1rem;
    }
}

/* Laptop Devices (portrait and landscape) */

@media only screen and (min-width:1025px) and (max-width:1440px) {
    /* css for laptop devices */
    .header {
        padding: 0px 130px 0px 138px;
    }

    .header-right li a .mail-id, .header-right li a .contact {
        display: inline-block;
        padding-right: 10px;
    }

    .header-right li {
        padding-right: 5px;
        float: left;
    }

    .header-right {
        padding-left: 0px;
    }

    /* header main */

    .header-main ul li a {
        font-size: 20px;
    }

    .header-main ul li {
        padding-left: 20px;
    }

    /* header main end */

    /* banner start */

    .banner {
        margin: 0px;
        padding: 0px 80px;
    }

    .banner .span-1, .banner .span-2 {
        font-size: 36px !important;
    }

    .lorem-p {
        font-size: 16px;
        font-weight: 600;
    }

    .img-fluid {
        margin-top: 20px;
    }

    .quick {
        left: -155px;
        color: #fff;
        top: 30%;
        height: 50px;
        width: 254px;
        font-size: 30px;
    }

    .feedback_form_area {
        bottom: -110px;
    }

    .feedback_form_area_inner {
        width: 300px !important;
    }
    /* banner end */

    /* placement section */

    .placement {
        margin: 80px auto;
        padding: 0px 90px;
    }

    .placement-3 {
        padding: 0px 75px 0px 70px;
    }

    .placement .span-1, .placement .span-2 {
        font-size: 40px !important;
    }

    .offer .offer-h2 {
        font-size: 40px;
    }

    .services .vector4 img {
        left: 32px !important;
    }

    .courses .span-1, .courses .span-2 {
        font-weight: 600 !important;
        font-size: 40px;
    }

    .courses .para {
        padding: 20px 150px;
        text-align: center;
        font-size: 20px;
    }

    .para-corses {
        font-size: 15px;
    }
    
    .courses .btns {
        padding: 5px 20px;
        margin: 0px;
        font-size: 10px;
    }

    .btn-project {
        padding: 5px 10px !important;
    }

    /* .mb-3 {
        margin-bottom: 2rem !important;
    } */

    .placement .para {
        padding: 20px 70px;
        text-align: justify;
        /* font-size: 20px; */
    }

    .placement-1 {
        text-align: center !important;
    }

    .bg-img {
        height: 390px;
        width: 550px;
    }

    .bg-mask-2 {
        width: 110px;
        height: 120px;
        /* left: 48px; */
        /* top: 1247px; */
    }

    .mask-img-2 {
        /* top: 310%; */
    }

    .fullstack-div {
        min-height: 300px;
        line-height: 354px;
        padding-left: 49px !important;    
    }

    .header-main {
        padding: 0px 137px;
    }

    .carousel-inner {
        position: relative;
        width: 90%;
        overflow: hidden;
        margin: auto;
    }

    .offer .para {
        color: #ffffff;
        margin-top: 20px;
        text-align: justify;
        padding: 20px 82px;
        font-size: 20px;
    }

    .justify-content-evenly {
        justify-content: space-around !important;
        margin: auto;
        width: 88%;
    }

    .para-s {
        width: 100%;
        text-align: justify;
        font-size: 16px;
    }
    
    .para1-s {
        width: 100%;
        line-height: 24px;
        margin-left: 26px;
        font-size: 12px;
        padding-top: 10px;
    }

    .service-col {
        padding: 0rem 1rem;
    }

    .s-row {
        justify-content: space-between;
    }

    .h4-s {
        margin-left: 26px;
    }

    .h4-serv {
        padding: 0px 0px 10px 0px;
        margin: 0px;
    }

    .p-serv{
        margin: 0px;
    }

    .s-col-4 {
        padding: 0px 70px;
    }

    .s-v3 {
        position: relative;
        left: 16px;
    }

    .serv-col-4 {
        padding-left: 40px;
    }
}

/* Desktop Devices (portrait and landscape) */

@media only screen and (min-width:1440px) {
    /* css for desktop devices */

    /* header top */

    .header-right li a .mail-id,
    .header-right li a .contact {
        display: inline-block;
    }
    /* header top end */

    /* header main */

    .header-main ul li a {
        font-size: 18px;
    }

    .header-main ul li {
        padding-left: 20px;
    }

    /* header main end */

    /* banner */

    .banner-col-1 {
        padding-top: 30px;
    }

    .banner .span-1, .banner .span-2 {
        font-size: 40px !important;
    }
    
    .lorem-p {
        padding: 20px 0px;
        font-size: 20px;
        font-weight: 600;
        color: #333333;
    }

    .img-fluid {
        height: 330px;
    }

    .quick {
        left: -155px;
        color: #fff;
        top: 30%;
        height: 50px;
        width: 254px;
        font-size: 30px;
    }

    .feedback_form_area {
        top: 16px;
    }

    .feedback_form_area_inner {
        width: 317px !important;
    }
    /* banner end */

    /* placement section  */
    .placement .span-1, .placement .span-2 {
        font-size: 40px !important;
    }
    
    .placement .para {
        /* font-size: 20px !important; */
    }

    .bg-mask-2{
        left: 135px;
    }

    .mask-img-2 {
        top: 294%;
    }

    .Vector-1 {
        position: absolute;
        width: 7% !important;
        height: 40% !important;
        top: 750px;
        right: -70px;
        z-index: 5;
    } 

    .services .vector4 img {
        left: 37px !important;
    }
}
/* ------------------------------------------------------------------------------------------ */